* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calc {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #fff;
    outline: none;
    background-color: rgba(255, 255, 255, .9);
    transition: .1s linear;
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -ms-transition: .1s linear;
    -o-transition: .1s linear;
}

.calc button:hover {
    background-color: #fff;
}

.calc .span-two {
    grid-column: span 2;
}

.calc .output {
    grid-column: 1/-1;
    background-color: rgb(20, 20, 20);
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgba(255, 255, 255);
    font-size: 2.5rem;
}